{{sidebar-nav isIndex=isIndex hideNav=hideNav showSubNav=showSubNav hideSideBar=hideSideBar}}

<main id="content" role="main" class="{{if showSubNav "has-sidebar"}}{{if isIndex "no-sidebar"}}">
  {{outlet}}
</main>
