<div class="section section--dark full-height index text-center">
  <div class="valign">
    <div class="container">
      <img src="assets/images/logo.svg" alt="Reconfigure.io" class="logo">
      <hr>
      <a class="btn login" {{action "login"}}><span>Login</span></a><br>
      <a href="https://api.reconfigure.io/oauth/new-account?redirect_url=https://app.reconfigure.io/sign-up" class="link" target="_blank">Or register here</a>
    </div>
  </div>
</div>
