<section class="section section--dark">
  <div class="container">
    <h1>Pricing Plan</h1>
    <p>Below is a list of our available plans for Reconfigure.io</p>
  </div>
</section>

<section class="section">
  <div class="container">
    {{table-credits user=user}}
  </div>
</section>
