{% extends "_layouts/_master" %}

{% do craft.sproutSeo.meta({
  title: 'Sign up'
}) %}

{% block content %}
  <section class="section section--grey signup signup--step-1">
    <div class="container">

      <div class="wrapper">
        <div class="signup__header">
          <h1 class="signup__title h1--light">Sign up</h1>
          <p class="signup__description">Sign ups to our public beta have now closed, please send any questions to <a href="mailto:hello@reconfigure.io">hello@reconfigure.io</a>.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
