<div class="cpu-animation">
  <div class="cpu-animation__control">
    <div class="cpu-animation__control__item active" data-type="fpgas">FPGAs</div>
    <div class="cpu-animation__control__item" data-type="cpu">CPU</div>
  </div>

  <div class="cpu-animation__icons fpgas">
    <span class="triangle grey" style="top: 33px;"></span>
    <span class="circle green" style="top: 0px;"></span>
    <span class="circle green" style="top: 65px;"></span>
    <span class="triangle grey" style="top: 0px;"></span>
    <span class="triangle blue" style="top: 161px;"></span>
    <span class="square grey" style="top: 97px;"></span>
    <span class="triangle grey" style="top: 192px;"></span>
    <span class="square orange" style="top: 65px;"></span>
    <span class="circle green" style="top: 129px;"></span>
    <span class="circle orange" style="top: 192px;"></span>
    <span class="triangle green" style="top: 0px;"></span>
    <span class="circle orange" style="top: 33px;"></span>
    <span class="triangle grey" style="top: 161px;"></span>
    <span class="triangle green" style="top: 65px;"></span>
    <span class="circle orange" style="top: 97px;"></span>
    <span class="square blue" style="top: 0px;"></span>
    <span class="square grey" style="top: 129px;"></span>
    <span class="square grey" style="top: 33px;"></span>
    <span class="circle green" style="top: 192px;"></span>
    <span class="square orange" style="top: 97px;"></span>
    <span class="triangle grey" style="top: 0px;"></span>
    <span class="square blue" style="top: 129px;"></span>
    <span class="circle blue" style="top: 65px;"></span>
    <span class="square green" style="top: 161px;"></span>
    <span class="circle blue" style="top: 0px;"></span>
    <span class="square orange" style="top: 33px;"></span>
    <span class="square orange" style="top: 161px;"></span>
    <span class="triangle green" style="top: 97px;"></span>
    <span class="triangle grey" style="top: 192px;"></span>
    <span class="triangle grey" style="top: 129px;"></span>
    <span class="square blue" style="top: 192px;"></span>
    <span class="circle grey" style="top: 161px;"></span>
    <span class="circle green" style="top: 33px;"></span>
    <span class="circle orange" style="top: 129px;"></span>
    <span class="triangle grey" style="top: 33px;"></span>
    <span class="circle green" style="top: 0px;"></span>
    <span class="circle green" style="top: 65px;"></span>
    <span class="triangle grey" style="top: 0px;"></span>
    <span class="triangle blue" style="top: 161px;"></span>
    <span class="square grey" style="top: 97px;"></span>
    <span class="triangle grey" style="top: 192px;"></span>
    <span class="square orange" style="top: 65px;"></span>
    <span class="circle green" style="top: 129px;"></span>
    <span class="circle orange" style="top: 192px;"></span>
    <span class="triangle green" style="top: 0px;"></span>
    <span class="circle orange" style="top: 33px;"></span>
    <span class="triangle grey" style="top: 161px;"></span>
    <span class="triangle green" style="top: 65px;"></span>
    <span class="circle orange" style="top: 97px;"></span>
    <span class="square blue" style="top: 0px;"></span>
    <span class="square grey" style="top: 129px;"></span>
    <span class="square grey" style="top: 33px;"></span>
    <span class="circle green" style="top: 192px;"></span>
    <span class="square orange" style="top: 97px;"></span>
    <span class="triangle grey" style="top: 0px;"></span>
    <span class="square blue" style="top: 129px;"></span>
    <span class="circle blue" style="top: 65px;"></span>
    <span class="square green" style="top: 161px;"></span>
    <span class="circle blue" style="top: 0px;"></span>
    <span class="square orange" style="top: 33px;"></span>
    <span class="square orange" style="top: 161px;"></span>
    <span class="triangle green" style="top: 97px;"></span>
    <span class="triangle grey" style="top: 192px;"></span>
    <span class="triangle grey" style="top: 129px;"></span>
    <span class="square blue" style="top: 192px;"></span>
    <span class="circle grey" style="top: 161px;"></span>
    <span class="circle green" style="top: 33px;"></span>
    <span class="circle orange" style="top: 129px;"></span>
  </div>
</div>
