<div class="feature-animation">
  <div class="wrapper step">
    <div class="feature-animation__feature">
      <img src="/assets/dist/img/modules/feature-animation--1.svg" class="feature-animation__feature__image">
      <div class="feature-animation__feature__details">
        <p class="feature-animation__feature__title xl-copy"><strong>Programs coded in go</strong></p>
        <p class="feature-animation__feature__description">Quick-check locally before upload</p>
      </div>
    </div>

    <div class="feature-animation__dots feature-animation__dots--1">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <div class="feature-animation__feature">
      <img src="/assets/dist/img/modules/feature-animation--2.svg" class="feature-animation__feature__image">
      <div class="feature-animation__feature__details">
        <p class="feature-animation__feature__title xl-copy"><strong>Reconfigure.io</strong></p>
        <p class="feature-animation__feature__description">Simulate, build, deploy</p>
      </div>
    </div>

    <div class="feature-animation__dots feature-animation__dots--2">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <div class="feature-animation__feature">
      <img src="/assets/dist/img/modules/feature-animation--3.svg" class="feature-animation__feature__image">
      <div class="feature-animation__feature__details">
        <p class="feature-animation__feature__title xl-copy"><strong>AWS EC2 F1 instances</strong></p>
        <p class="feature-animation__feature__description">CPU  FPGA</p>
      </div>
    </div>
  </div>
</div>
