<div class="modal" id="sign-in">
  <div class="valign">
    <div class="modal__wrapper">
      <a href="#" class="modal__close">Close<i class="icon-close"></i></a>

      <div class="modal__content">
        <h3 class="modal__content__title h3--light">Sign in</h3>
        <div class="modal__content__description">
          <p>Sign in using your Github credentails</p>
        </div>
        <a href="https://app.reconfigure.io" class="btn" target="_blank"><i class="icon-github"></i> Sign in with Github</a>

        <!-- <form class="form form--actions" action="index.html" method="post">
          <div class="field">
            <input type="email" class="input input--text" name="email"/>
            <label for="email">Email</label>
          </div>
          <div class="field">
            <input type="password" class="input input--text" name="password"/>
            <label for="password">Password</label>
          </div>

          <div class="actions">
            <button type="submit" class="btn"><i class="icon-github"></i> Sign in with Github</button>
          </div>
        </form> -->
      </div>

      <div class="modal__footer">
        <p class="modal__footer__description xl-copy">or register as a new user</p>
        <a href="/sign-up" class="btn">Register</a>
      </div>
    </div>
  </div>
</div>
