/* MODAL */

.modal {
  display: table;
  background-color: rgba($white, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include opacity(0);
  @include transition(0.3s ease-out);
  z-index: -1;

  &.active {
    z-index: 99999;
    @include opacity(1);
  }

  &__type {
    display: none;

    &.active {
      display: block;
    }
  }

  .valign {
    display: table-cell;
    vertical-align: middle;
  }

  &__wrapper {
    position: relative;
    background-color: $white;
    border: $base-margin*0.75 solid $white;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    max-height: 100vh;
    box-sizing: border-box;
    -ms-overflow-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    @include box-shadow(0 2px 19px 0px rgba(0, 0, 0, 0.17));
    @include transform(translateY($base-margin*2));
    @include opacity(0);
    @include transition(0.3s ease-out);
    @include transition-delay(0.3s);

    .active & {
      @include transform(translateY(0));
      @include opacity(1);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__close {
    position: absolute;
    top: $base-line-height*0.75;
    right: $base-line-height*0.5;
    color: $gray;
    font-family: $font_primary;
    text-decoration: none;

    i {
      @include adjust-font-size-to(1.5rem);
      @include adjust-leading-to(1.5);
      margin-left: $base-margin*0.5;
      vertical-align: middle;
    }
  }

  &__header {
    .modal__title {
      color: $white;
      @include margin-trailer(0.5);
    }

    .modal__description {
      @include adjust-font-size-to(18px);
      @include adjust-leading-to(1.625);
      @include margin-trailer(2.5);
    }
  }

  &__content {
    background-color: $alabaster;
    padding: 0 $base-margin*1.5;
    @include rhythm-padding(3.5, 2.75);
    text-align: center;

    &__description {
      @include margin-trailer(1.5);
    }

    .form {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 300px;
      @include margin-leader(1);

      input {
        background-color: transparent;
      }

      .btn {
        padding: 0 $base-margin;
        @include rhythm-padding(0.5);

        @include breakpoint($break_mobile) {
          padding: 0 $base-margin*0.5;
          @include rhythm-padding(0.5);
        }

        i {
          display: inline-block;
          @include adjust-font-size-to(2rem);
          @include adjust-leading-to(2);
          margin-right: $base-margin*0.5;
          vertical-align: middle;

          &:before {
            width: auto;
            margin: 0;
          }
        }
      }
    }
  }

  &__footer {
    background-color: $white;
    padding: 0 $base-margin*1.5;
    @include rhythm-padding(3.5, 2.75);
    box-sizing: border-box;
    text-align: center;

    .btn {
      @include margin-leader(1.5);
    }
  }
}
