<section class="section section--dark">
  <div class="container">
    <div class="col col--8">
      <h1>Sign Up</h1>
      <p>Authenticate your account, then we'll check it's all working.</p>
    </div>
  </div>
</section>

  <!--section class="section section--grey signup signup--step-5"-->
  <div class="section sign-up__form">
    <div class="container">
      <div class="wrapper">
        <div class="signup__header">
          <h2>Authentication</h2>
          <p class="lg-copy">Copy and paste the command below to connect your installation to your account:</p>
          <pre>reco auth {{ userData.token }}</pre>
          {{link-to "Let's check it's all working" "sign-up.getting-started" class="btn"}}
        </div>
      </div>
    </div>
  </div>
  <!--/section-->

  <!--section class="section section--white signup signup--tabs">
    <div class="container">
      <div class="wrapper">
        <div class="signup__content">
          <div class="signup__tabs nav-tabs">
            <p class="lg-copy">Copy and paste the command below to connect your installation to your account:</p>
            <pre>reco auth {{ userData.token }}</pre>
          </div>

          <form class="form form--actions form--installation" name="signup-installation" action="/sign-up/complete" method="post">
            <div class="form__content">
              <div class="actions">
                  <button type="submit" name="submit" class="btn"><span>Complete</span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section-->
