<!--stick blank sidebar over the top to reintroduce logo - looks a bit weird-->
<aside class="sidebar">
  {{#if media.isMobile}}
    <div class="sidebar__mobile">
      <figure class="logo">
        {{#link-to "dashboard"}}
          <img src="assets/images/logo.svg" alt="Reconfigure.io">
        {{/link-to}}
      </figure>

      <div class="sidebar__mobile__toggle" {{action "showMainNav"}}>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  {{/if}}

  <div class="sidebar__main">
    {{#unless media.isMobile}}
      <div class="sidebar__main__header">
        <figure class="logo">
          {{#if hideNav}}
            <img src="assets/images/logo.svg" alt="Reconfigure.io">
          {{else}}
            {{#link-to "dashboard"}}
              <img src="assets/images/logo.svg" alt="Reconfigure.io">
            {{/link-to}}
          {{/if}}
        </figure>
      </div>
    {{/unless}}
  </div>
</aside>

<section class="section section--dark">
  <div class="container">
    <div class="col col--8">
      <h1>Sign Up</h1>
      <p>Run through our getting started guide to check your installation is working correctly</p>
    </div>
  </div>
</section>

<div class="section sign-up__form">
<div class="container">
  <div class="wrapper">
    <div class="signup__header">
      <h2>Getting started with Reconfigure.io</h2>
      <p>We’re going to deploy a build image of our MD5 hash example to a cloud FPGA and use it to generate MD5 hashes of strings of your choice. If you would like to look at our code, you can do so <a href="https://github.com/ReconfigureIO/web-md5" target="_blank">here</a>.</p>
      <p><strong>Step 1:</strong> Open a terminal and enter the command below to deploy a build of our MD5 code example to an FPGA. We’ve set a time limit of 30 minutes for the deployment to avoid using up your available hours if you forget to stop it at the end.</p>
      <pre>reco deploy run 3e21bae1-5367-419e-9bc2-7e01e7fe9942 timeout 30m run-webserver --wait=http</pre>
      <p>You should see:</p>
      <pre>creating deployment
done. Deployment ID: [deployment_ID]
you can run "reco deployment log [deployment_ID]" to manually stream logs
status: SUBMITTED
Waiting for Spot Instance Request to be created
status: QUEUED
Waiting for EC2 instance to be allocated
Waiting for EC2 instance to be allocated
status: STARTED
Waiting for deployment to listen on port 80
Deployment ready at [deployment_IP]
[deployment_ID]</pre>
        <p><strong>Step 2:</strong> Connect to the deployment using the command below, but substituting [deployment_ID] for your unique deployment ID:</p>
        <pre>reco deploy connect [deployment_ID]</pre>
        <p><strong>Step 3:</strong> The MD5 generator will open in your default browser. You can enter some text in the box on the left hand side and click GENERATE to see the MD5 hash straight from the FPGA!</p>
        <p><strong>Step 4:</strong> Remember to stop your deployment by running the following command using your unique deployment ID:</p>
        <pre>reco deploy stop [deployment_ID]</pre>
      {{link-to "Back to installation" "sign-up.installation" class="btn"}}
      {{link-to "Continue to dashboard" "dashboard" class="btn"}}
    </div>
  </div>
</div>
</div>
