/* VARIABLES */

// Colors
$white:              rgba(255, 255, 255, 1);
$cod-gray:           rgba(22, 22, 22, 1);
$port-gore:          rgba(23, 24, 55, 1);
$shark:              rgba(38, 39, 44, 1);
$tuna:               rgba(52, 55, 65, 1);
$bright-gray:        rgba(61, 64, 76, 1);
$trout:              rgba(71, 75, 87, 1);
$gray:               rgba(133, 133, 133, 1);
$alto:               rgba(220, 220, 220, 1);
$gallery:            rgba(238, 238, 238, 1);
$alabaster:          rgba(247, 247, 247, 1);
$shamrock:           rgba(43, 203, 150, 1);
$mountain-meadow:    rgba(29, 187, 125, 1);
$bermuda:            rgba(128, 223, 192, 1);
$polar:              rgba(234, 250, 245, 1);
$powder-blue:        rgba(134, 206, 255, 1);
$cinnabar:           rgba(232, 82, 58, 1);
$porsche:            rgba(233, 171, 112, 1);
$merino:             rgba(246, 240, 228, 1);
$white-linen:        rgba(248, 243, 233, 1);
$lima:               rgba(126, 211, 33, 1);
$quill-gray:         rgba(213, 214, 211, 1);
