<section class="api-key">
  <h2 class="api-key__title">API Key</h2>

  <div class="api-key__container">
    <input type="password" id="api-key" class="api-key__container__key" value="{{key}}">

    <a href="#" class="api-key__container__trigger" {{action "toggleKey"}}>Show API key</a>

    <button class="api-key__container__copy btn" data-clipboard-target="#api-key">Copy to clipboard</button>
  </div>
</section>
