<div class="cta cta--base">
  <div class="cta__info">
    <div class="cta__info__circle">
      <div class="valign">
        <span class="number">{{hoursRemaining}}</span>
        <span class="description">Hours remaining</span>
      </div>
    </div>
  </div>
  <div class="cta__content">
    <p class="xl-copy"><strong>It looks like your credits are getting a bit low.</strong></p>
    <p class="base-copy">Top up your credits now to stop any interuption to your deployments.</p>
    <a href="#" class="btn cta__btn"><span>Buy more credits</span></a>
  </div>
  <div class="cta__close" {{action "close"}}>
    <i class="icon-close-circle"></i>
  </div>
</div>
