<div class="cta cta--slim">
  <span class="cta__figure">76</span>
  <div class="cta__content">
    <p class="sm-copy"><strong>Credits remaining</strong></p>
    <a href="#" class="link link--next">Buy more credits</a>
  </div>
</div>
